*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration: none;
}
.header_desing{
    width:100%;
    height:700px;
    background-image: url("images/desktop/image-header.jpg");
    background-position: center;
    background-size: 100% 100%;
}
.icon_section{
    width:100%;
    height:700px;
    background-image:url('images/icon-arrow-down.svg');
    background-repeat:no-repeat;
    background-position-x:center;
    background-position-y:20%;
}
.text_welcome{
    position: absolute;
    top: 22%;
    font-size: 2.7vw;
    left: 35%;
    color:white;
    z-index:1;
}
.nav_section{
    display:flex;
    flex-direction: row;
    width:100%;
    height:100px;
    align-items: center;
}
.logo_section{
    width:50%;
}
.menu_section{
    width:50%;
    margin-left:auto;
}
.menu_section{
    display:flex;
    flex-direction:row;
    justify-content: flex-end;
}
.link{
    color:white;
    margin-right:5%;
}
#link_hidden{
    display:none;
    width:100%;
}
#link_hidden:hover{
    cursor:pointer;
}
.active{
    text-transform:uppercase;
    color:black;
    background-color:white;
    width:100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height:30px;
    margin-top:-7px;
    border-radius: 20px;
    bottom:10px;
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}
.active:hover{
    color:white;
    background-color: rgba(0, 255, 255, 0.582);
}
.text_font{
    color:white;
    font-size:1.7vw;
    font-weight:bolder;
    margin-left:10%;
}